.Footer {
	margin: 0;
}
.Footer nav {
	position: absolute;
	display: flex;
	top: -10px;
	left: -30px;
}

.Footer li {
	list-style: none;
	padding: 2px;
}

.Footer button {
	position: relative;
	background-color: rgb(253, 252, 252);
	border: 5px solid black;
	font-family: "Barriecito", cursive;

	padding: 5px;
	font-size: 22px;
	border-radius: 12px;
}

.Footer button:hover {
	background-color: white;
	box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
	border: 5px solid black;
}
