.Welcome .Hearts {
	background-image: url("https://media.tenor.com/y8sVP71-p6wAAAAC/progress-pride-progressive-pride.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	width: 100vw;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	width: 100vw;
	height: 40vh;
}
