/* .Welcome {
}

.Welcome .Hearts {
	background-image: url("https://media.tenor.com/y8sVP71-p6wAAAAC/progress-pride-progressive-pride.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	width: 100vw;
	height: 26.5vh;
} */
